/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
/app/cache/
/app/logs/
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/doctrine*
/bin/symfony_requirements
/composer.phar
/web/components/
/web/assetic/
/web/config.php
.vagrant/
puphpet/files/dot/ssh/id*
puphpet/files/dot/ssh/root*
web/admincomponents
components/
